body{
    margin: 0px 20px;
}
a{
    text-decoration: none;
    color: black;            
}
h1, h2, h3{
    margin: 10 0px;
}
h4{
    color: white;
    margin-top: 0px;
}
p{
    margin: 5px 0;
}
textarea{
    margin: 10px 0;
    width: 80%;
    height: 80px;
}
button{
    display: block;
    margin: 10px 0;
}
.top-bar{
    background-color: white;            
    padding: 0px;            
}        
.main{
    background-color: #0098D7;
    padding: 30px 20px;            
    margin: 0px;
}
.comments{
    margin: 30px 0;
}
.comment{
    margin: 10px 0;
}
.row{
    background-color: white;
    padding: 5px 15px;
    margin-right: 40px;
    margin-left: 0;
}
.bottom, .top-comment{
    display: flex;
    color: grey;
    font-size: 14px;
}
.author{
    padding-right: 15px;
}
.timestamp{
    padding-right: 15px;
}
.comment-ts{
    padding-left: 15px;
}

/*Navbar*/

header{
    margin-inline: 10px;
}

.navbar{
    display: flex;
    align-items: center;
}

.navigation{
    background-color: white;
    padding: 10px;
    width: 90%;
    display: inline-block;
    border-radius: 5px;
    max-height: 55px;
    margin-right: 10px;
}

.nav-list{
    list-style-type: none;
    overflow: hidden;
}

.nav-item a{
    float: left;
    display: block;
    text-align: left;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color: black;
}

.nav-item a:hover{
    background-color: #0098D7;
}

/* Login */
.box{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0, 4);
    text-align: center;
}

.box h1{
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}

.box input[type="text"], .box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #0098D7;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25px;
}

.box input[type="text"]:focus, .box input[type="password"]:focus{
    width: 270px;
    border-color: blue;
}

.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #0098D7;
    padding: 14px 10px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}

.box input[type="submit"]:hover{
    background: skyblue;
}